.pokedex-title{
    margin-top: 20px;
    text-align: center;
}

.pokedex-content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Green{
    background-color: #4ffe41;
    border-radius: 50px;
}

.Red{
    background-color: #e14520;
    border-radius: 50px;
}